@font-face {
    font-family: 'Switzer';
    /* Nome personalizzato per il font */
    src: url('./assets/fonts/Switzer-Regular.woff2') format('woff2'),
        url('./assets/fonts/Switzer-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('./assets/fonts/Switzer-Medium.woff2') format('woff2'),
        url('./assets/fonts/Switzer-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Switzer', sans-serif;
    scroll-behavior: smooth;
    font-weight: 400;
}

:root {

    --blue: #3177E0;
    --light-blue: #DFE7F2;
    --gray-0: #F7F7F7;
    --gray-1: #CBD0D6;
    --gray-2: #798494;
    --gray-3: #58667A;
    --gray-4: #3C4B61;
    --black: #18212E;


}

a {
    all: unset;
    /* Resetta quasi tutte le proprietà ereditate e non ereditate */
    display: inline;
    cursor: pointer;
    /* Ripristina il comportamento di blocco inline per i link */
}

.pointer {
    cursor: pointer;
}

.container {
    padding: 0 24px;
}

.mb-4 {
    margin-bottom: 4px;
}

.trailImg {
    position: absolute;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-96 {
    margin-bottom: 96px;
}

.mb-128 {
    margin-bottom: 128px;
}



.c-blue {
    color: var(--blue);
}

.c-light-blue {
    color: var(--light-blue);
}

.c-gray-0 {
    color: var(--gray-0);
}

.c-gray-1 {
    color: var(--gray-1);
}

.c-gray-2 {
    color: var(--gray-2);
}

.c-gray-3 {
    color: var(--gray-3);
}

.c-gray-4 {
    color: var(--gray-4);
}

.c-black {
    color: var(--black);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-gray-0 {
    background-color: var(--gray-0);
}

.bg-gray-1 {
    background-color: var(--gray-1);
}

.bg-gray-2 {
    background-color: var(--gray-2);
}

.bg-gray-3 {
    background-color: var(--gray-3);
}

.bg-gray-4 {
    background-color: var(--gray-4);
}

.bg-black {
    background-color: var(--black);
}

.section {
    padding: 24px 0 32px 0;
    border-top: 1px solid var(--blue);
}





h1 {
    font-size: 80px;
    letter-spacing: -2px;
    line-height: 110%;
    font-weight: 500;
}

h2 {
    font-size: 80px;
    letter-spacing: -1px;
    line-height: 110%;
    font-weight: 500;
}

h3 {
    font-size: 48px;
    letter-spacing: 0px;
    line-height: 110%;
    font-weight: 500;
}

h4 {
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 100%;
    font-weight: 500;
}

.p-x-large {
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 130%;
    font-weight: 400;
}

.p-large {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 140%;
    font-weight: 400;
}

.p-regular {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 140%;
    font-weight: 400;
}

.p-small {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 140%;
    font-weight: 400;
}

.overline {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 100%;
    font-weight: 500;
    text-transform: uppercase;
}

.caption {
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 100%;
    font-weight: 500;
}

.button {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 100%;
    font-weight: 500;
}

@media (max-width: 768px) {

    .container {
        padding: 0 16px;
    }

    h1 {
        font-size: 48px;
        line-height: 110%;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 24px;
    }

    .p-x-large {
        font-size: 24px;
    }

    .p-large {
        font-size: 20px;
    }

    .p-regular {
        font-size: 16px;

    }

    .p-small {
        font-size: 14px;
    }

    .caption {
        font-size: 14px;

    }



}